.ef-control {
	display: flex;
	justify-content: space-between;

	&:not(:last-child) {
		margin-bottom: 16px;
	}

	&__label {
		width: 180px;

		>div {
			display: inline;
		}
	}

	&__input {
		flex: 1;
		min-width: 0; // To make the input not exceed parent's width.
	}

	&__required {
		color: #e53e3e;
	}

	// WordPress 5.6+
	&__tooltip {
		.dashicon {
			color: #ccd0d4;
			font-size: 14px;
			position: relative;
			top: 2px;
		}
	}

	&__description {
		font-style: italic;
		font-size: 12px;
		margin-top: 2px;

		code {
			font-style: normal;
			font-size: 11px;
			padding: 2px 4px;
			border-radius: 2px;
		}
	}
}

.ef-control select,
.ef-control textarea,
.ef-control input:not([size]):not([type="button"i]):not([type="submit"i]):not([type="reset"i]):not([type="checkbox"i]):not([type="radio"i]),
.ef-control .react-select {
	width: 100%;
	max-width: none;
}